body {
    background-color: #212529;
}

h1 {
    color: #fff;
}

.bg-red-1 { background-color: #f07b7b !important; }
.bg-red-2 { background-color: #e65b5b !important; }
.bg-red-3 { background-color: #e34646 !important; }
.bg-red-4 { background-color: #e02424 !important; }
.bg-red-5 { background-color: #b91c1c !important; }
