body {
    background-color: #212529;
}

h1 {
    color: #fff;
}

.bg-red-1 { background-color: rgb(236, 120, 120) !important; }
.bg-red-2 { background-color: rgb(236, 80, 80) !important; }
.bg-red-3 { background-color: rgb(236, 40, 40) !important; }
.bg-red-4 { background-color: rgb(236, 20, 20) !important; }
.bg-red-5 { background-color: rgb(236, 5, 5) !important; }