body {
    background-color: #212529;
}

h1 {
    color: #fff;
}

.bg-red-1 { background-color: #ec7474 !important; }
.bg-red-2 { background-color: #eb5c5c !important; }
.bg-red-3 { background-color: #ee4141 !important; }
.bg-red-4 { background-color: #ec2727 !important; }
.bg-red-5 { background-color: #eb0808 !important; }
